@import "./colors.scss";

.btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 1.0rem;
  padding: 10px 15px;
  margin: 2px 3px;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: lighten($lightgray, 3%);
}
.btn:active {
  outline: none;
  background-color: darken($lightgray, 3%);
}

.btn-gray {
  color: #333;
  background-color: $lightgray;
  border-color: darken($lightgray, 15%);
}
.btn-gray:hover { background-color: lighten($lightgray, 5%); }
.btn-gray:active { background-color: darken($lightgray, 5%); }

.btn-green {
  color: darken(green, 20%);
  background-color: green;
  border-color: darken(green, 15%);
}
.btn-green:hover { background-color: lighten(green, 5%); }
.btn-green:active { background-color: darken(green, 5%); }

.btn-red {
  color: darken(red, 25%);
  background-color: red;
  border-color: darken(red, 15%);
}
.btn-red:hover { background-color: lighten(red, 5%); }
.btn-red:active { background-color: darken(red, 5%); }


.btn-orange {
  color: darken(orange, 25%);
  background-color: orange;
  border-color: darken(orange, 15%);
}
.btn-orange:hover { background-color: lighten(orange, 5%); }
.btn-orange:active { background-color: darken(orange, 5%); }
