/*
 * Main theme colors
 */

$white: #fff;
$black: #000;

// Eerie Black
$eerieblack: #0d1b2a;
$eerieblack-light: rgba(123, 130, 138, 1);
$eerieblack-lightest: lighten($eerieblack-light, 10%);
$eerieblack-dark: rgba(8, 15, 23, 1);

// Dark Cerulean
$darkcerulean: #0c4970;
$darkcerulean-light: rgba(122, 155, 177, 1);
$darkcerulean-lightest: lighten($darkcerulean-light, 10%);
$darkcerulean-dark: rgba(7, 40, 62, 1);

// Steel Teal
$steelteal: #619b8a;
$steelteal-light: rgba(168, 200, 191, 1);
$steelteal-lightest: lighten($steelteal-light, 10%);
$steelteal-dark: rgba(53, 85, 76, 1);

// Olivine
$olivine: #a1c181;
$olivine-light: rgba(203, 221, 186, 1);
$olivine-lightest: lighten($olivine-light, 10%);
$olivine-dark: rgba(88, 106, 71, 1);

// Dark Tangerine
$darktangerine: #f3a712;
$darktangerine-light: rgba(248, 207, 125, 1);
$darktangerine-lightest: lighten($darktangerine-light, 10%);
$darktangerine-dark: rgba(133, 92, 10, 1);

// Grayscale
$gray: #999;
$darkgray: #333;
$lightgray: #eee;

// Orange
$orange: orangered;

/*
 * Theme color allocations
 */

// Primary color
$primary: $olivine;
$primary-dark: $olivine-dark;
$primary-light: $olivine-light;
$primary-lightest: $olivine-lightest;

// Secondary color
$secondary: $darktangerine;
$secondary-dark: $darktangerine-dark;
$secondary-light: $darktangerine-light;
$secondary-lightest: $darktangerine-lightest;

// Tertiary color
$tertiary: $darkcerulean;
$tertiary-dark: $darkcerulean-dark;
$tertiary-light: $darkcerulean-light;
$tertiary-lightest: $darkcerulean-lightest;

// TODO: Info, success, warning, error and other support colors

/*
 * Sections and components
 */

$link: $secondary;
$link-hover: $secondary-light;
$link-dark: $tertiary;
$link-dark-hover: $tertiary-light;

// Page header
$page-header-bg: $eerieblack-dark;
$page-header-text: $white;
$page-header-link: $white;
$page-header-link-hover: $link;

// Sub-header
$sub-header-bg: $primary-dark;
$sub-header-text: $primary-lightest;

// Messages
$message-default-bg: $lightgray;
$message-default-text: $darkgray;
$message-info-bg: $message-default-bg;
$message-info-text: $message-default-text;
$message-success-bg: $olivine-light;
$message-success-text: $olivine-dark;
$message-warning-bg: $darktangerine-light;
$message-warning-text: $darktangerine-dark;
$message-error-bg: lighten(red, 25%);
$message-error-text: darken(red, 30%);

// Sidebar box
$sidebar-box-header-bg: $sub-header-bg;
$sidebar-box-header-text: $sub-header-text;
$sidebar-box-body-bg: $primary-light;
$sidebar-box-body-text: $eerieblack-dark;
$sidebar-box-body-link: $link-dark;
$sidebar-box-body-link-hover: $link-dark-hover;
$sidebar-box-footer-bg: $primary-lightest;
$sidebar-box-footer-text: $eerieblack-dark;

// Sidebar socialicons
$sidebar-socialicon-foreground: $primary-dark;
$sidebar-socialicon-background: $primary-light;
$sidebar-socialicon-hover-foreground: $primary-light;
$sidebar-socialicon-hover-background: $primary-dark;

// Post list
$post-filters-bg: $sub-header-bg;
$post-filters-text: $sub-header-text;
$post-filters-link: $link;
$post-filters-link-hover: $link-hover;

/*
 * Classes
 */
// Background
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-eerie { background-color: $eerieblack; };
.bg-eerie-light { background-color: $eerieblack-light; };
.bg-eerie-lightest { background-color: lighten($eerieblack-light, 10%); };
.bg-eerie-dark { background-color: $eerieblack-dark; };
.bg-cerulean { background-color: $darkcerulean; }
.bg-cerulean-light { background-color: $darkcerulean-light; }
.bg-cerulean-lightest { background-color: lighten($darkcerulean-light, 10%); }
.bg-cerulean-dark { background-color: $darkcerulean-dark; }
.bg-teal { background-color: $steelteal; }
.bg-teal-light { background-color: $steelteal-light; }
.bg-teal-lightest { background-color: lighten($steelteal-light, 10%); }
.bg-teal-dark { background-color: $steelteal-dark; }
.bg-olivine { background-color: $olivine; }
.bg-olivine-light { background-color: $olivine-light; }
.bg-olivine-lightest { background-color: lighten($olivine-light, 10%); }
.bg-olivine-dark { background-color: $olivine-dark; }
.bg-tangerine { background-color: $darktangerine; }
.bg-tangerine-light { background-color: $darktangerine-light; }
.bg-tangerine-lightest { background-color: lighten($darktangerine-light, 10%); }
.bg-tangerine-dark { background-color: $darktangerine-dark; }
// Text
.text-white { color: $white; }
.text-black { color: $black; }
.text-eerie { color: $eerieblack; };
.text-eerie-light { color: $eerieblack-light; };
.text-eerie-dark { color: $eerieblack-dark; };
.text-cerulean { color: $darkcerulean; }
.text-cerulean-light { color: $darkcerulean-light; }
.text-cerulean-dark { color: $darkcerulean-dark; }
.text-teal { color: $steelteal; }
.text-teal-light { color: $steelteal-light; }
.text-teal-dark { color: $steelteal-dark; }
.text-olivine { color: $olivine; }
.text-olivine-light { color: $olivine-light; }
.text-olivine-lightest { color: $olivine-lightest; }
.text-olivine-dark { color: $olivine-dark; }
.text-tangerine { color: $darktangerine; }
.text-tangerine-light { color: $darktangerine-light; }
.text-tangerine-dark { color: $darktangerine-dark; }
