@import './colors.scss';

#server-messages > div {
  background-color: $message-default-bg;
  color: $message-default-text;
  font-size: 0.9rem;
  padding: 10px 20px;
}
#server-messages > div.info {
  background-color: $message-info-bg;
  color: $message-info-text;
}
#server-messages > div.success {
  background-color: $message-success-bg;
  color: $message-success-text;
}
#server-messages > div.warning {
  background-color: $message-warning-bg;
  color: $message-warning-text;
}
#server-messages > div.error {
  background-color: $message-error-bg;
  color: $message-error-text;
}