{% extends "base.html" %}

{% block meta_title %}
500 Server Error | Overflow
{% endblock %}

{% block page_content %}
<div class="row center-xs">
    <div class="col-xs-12">
        <h1>500 Server Error</h1>
        <p>Woops. Our server hamster managed to throw your request into <b>/dev/null</b> without telling us why.</p>
        <p><img src="{% static '/overflow/images/server-hamster.jpg' %}" alt="Server Hamster 500" title="Server hamster fucked up..." /></p>
    </div>
</div>
{% endblock %}
