<div class="row">
  <header id="sidebar-box-header" class="col-xs-12">
    {% block sidebar_box_header %}
    Sidebar sub-header
    {% endblock %}<!-- /sidebar-header -->
  </header>

  <section id="sidebar-box-body" class="col-xs-12">
    {% block sidebar_box_body %}
    Sidebar content
    {% endblock %}<!-- /sidebar-content -->
  </section>

  <footer id="sidebar-box-footer" class="col-xs-12">
    {% block sidebar_box_footer %}
    Sidebar footer
    {% endblock %}<!-- /sidebar-footer -->
  </footer>
</div>
