/* Colors */

:root {
  --color-whitegray: #f3f3f3;
  --color-lightgray: #ccc;
  --color-gray: #777;
  --color-darkestgray: #222;
  --color-darkgray: #333;
  --color-orange: #f3a712;
}

/* Generic */

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
  line-height: 1.3rem;
  color: var(--color-darkestgray);
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Layout */

.container { max-width: 1280px; width: 100%; }
.center { margin: 0 auto; }
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.padding-vertical-5 { padding: 5px 0; }
.padding-vertical-10 { padding: 10px 0; }
.margin-vertical-5 { margin: 5px 0; }
.margin-vertical-10 { margin: 10px 0; }

/* Typography */

a,
a:visited {
  color: inherit;
}
a:hover,
a:active {
  color: var(--color-orange);
}

p {
  margin: 1.5rem 0;
  letter-spacing: 0.05rem;
  line-height: 2.0rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Code', sans-serif;
  font-weight: 300;
  margin: 3rem 0;
  color: var(--color-darkgray);
}
h3,h4,h5,h6 {
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
h4 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.35rem;
}
h6 {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

pre {
  font-family: 'Fira Code', monospace;
  background: var(--color-whitegray);
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 20px;
  overflow-x: auto;
  max-width: 100%;
}
pre code {
  color: unset;
  padding: unset;
  background: transparent;
}
code {
  font-family: 'Fira Code', monospace;
  background: var(--color-whitegray);
  color: var(--color-darkgray);
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 8px;
}

/* Navbar */
nav a {
  color: var(--color-darkgray);
  text-decoration: none;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav > ul > li {
  align-items: center;
}
#page-nav {
  font-family: 'Fira Code';
  background-color: var(--color-whitegray);
}
#page-nav a {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.2rem;
}
#page-nav a.active {
  background-color: var(--color-darkestgray);
  color: var(--color-lightgray)
}
#page-nav a:hover {
  background-color: var(--color-darkestgray);
}
#page-nav a.active:hover {
  color: var(--color-orange);
}

/* Header */

#page-logo {
  background-color: var(--color-darkestgray);
  padding: 100px 0;
}

#page-logo img {
  max-width: 256px;
}

/* Content */

#main-header {
  margin-bottom: 50px;
}
#main-content {
  margin: 0 1rem;
}

.post,
.post-summary {
  margin: 2rem 0;
}
.post-summary h2 {
  margin: 1rem 0;
}
.post-illustration {
  max-width: 100%;
}
.post-description {
  margin: 1.5rem 0;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 2.0rem;
}
.post-meta,
.post-tags {
  font-family: 'Fira Code';
  font-size: 0.7rem;
}

/* Footer */

#about-header {
  color: var(--color-gray);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
#about-body {
  margin: 1.5rem 0;
}

#page-footer {
  color: var(--color-darkgray);
  background-color: var(--color-whitegray);
  padding: 3rem 1rem;
  margin-top: 3rem;
  font-family: 'Consolas', monospace;
  font-size: 0.8rem;
}
#page-footer a:hover,
#page-footer a:active { color: var(--color-orange); }
#page-footer__build-status {
  margin-top: 1.5rem;
}
#page-footer__about {
  margin-bottom: 1.5rem;
}

/* Icons */

.socialicon {
  text-decoration: none;
}
.socialicon svg {
  box-sizing: content-box;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 25px;
  width: 25px;
  fill: var(--color-gray);
}
.socialicon svg:hover {
  fill: var(--color-orange);
}