@import '../../overflow/scss/colors.scss';

.post,
.post-summary {
  margin: 20px;

  pre {
    font-family: 'Fira Code' monospace;
    background: $lightgray;
    color: $darkgray;
    font-size: 0.8rem;
    padding: 20px;
    overflow-x: auto;
    max-width: calc(100vw - 80px);

    code {
      color: unset;
      padding: unset;
      background: transparent;
    }
  }

  code {
    font-family: 'Fira Code' monospace;
    background: $lightgray;
    padding: 1px 5px;
    color: $darkcerulean;
    font-size: 0.8rem;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
.post-header {
  margin: 20px 0px;
}
.post-title {
  font-size: 2.0rem;
  line-height: 2.5rem;
  margin: 20px 0px;
  color: $steelteal;

  a,
  a:visited {
    font-weight: 300;
    color: $steelteal;
  }
  a:active,
  a:hover {
    color: $steelteal-dark;
    text-decoration: none;
    border-bottom: 1px solid $steelteal-dark;
  }
}
.post-meta {
  margin: 10px 0px;
  color: #777;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.post-description {
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}
.post-tags {
  margin: 10px 0px;

  .post-tag {
    font-size: 0.7rem;
    font-weight: normal;
    padding: 4px;
    margin-right: 5px;
    color: $darktangerine-dark;
    background-color: $darktangerine-light;
  }
  .post-tag:hover {
    color: $darktangerine-dark;
    background-color: $darktangerine;
  }
}
.post-content {
  margin: 20px 0;

  p {
    margin: 20px 0;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    color: $darktangerine;
    margin: 40px 0px 40px 0px;
  }

  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
}
