@import "../../lib/scss/colors.scss";

#not-found {
  color: $darktangerine;
  margin: 30px;
  font-size: 1.3rem;
  text-align: center;
}

#not-found__image {
  max-width: 100%;
  margin: 30px auto;
}
