<section id="post-filters">
  <header id="post-filters__header">
    Filter by {% if days %}day{% elif months %}month{% else %}year{% endif %}
  </header>
  {% with params=request.resolver_match.kwargs %}
  {% if params.year %}
  <section id="post-filters__breadcrumbs">
    {% if params.day %}
      <a href="{% url 'blog:year_list' params.year %}" title="{{ params.year }}">{{ params.year }}</a> &gt;
      <a href="{% url 'blog:month_list' params.year params.month %}" title="{{ params.month }}">{{ params.month }}</a> &gt;
      <a href="{% url 'blog:day_list' params.year params.month params.day %}" title="{{ params.day }}">{{ params.day }}</a>
    {% elif days %}
      <a href="{% url 'blog:year_list' params.year %}" title="{{ params.year }}">{{ params.year }}</a> &gt;
      <a href="{% url 'blog:month_list' params.year params.month %}" title="{{ params.month }}">{{ params.month }}</a>
    {% elif months %}
      <a href="{% url 'blog:year_list' params.year %}" title="{{ params.year }}">{{ params.year }}</a>
    {% endif %}
  </section>
  {% endif %}
  {% endwith %}
  <section id="post-filters__values">
    {% with params=request.resolver_match.kwargs %}
    {% if days and not params.day %}
      {% for day in days %}
      <a href="{% url 'blog:day_list' params.year params.month day %}" title="{{ day }}">{{ day }}</a>{% if not forloop.last %} | {% endif %}
      {% endfor %}
    {% elif months %}
      {% for month in months %}
      <a href="{% url 'blog:month_list' params.year month %}" title="{{ month }}">{{ month }}</a>{% if not forloop.last %} | {% endif %}
      {% endfor %}
    {% else %}
      {% for year in years %}
      <a href="{% url 'blog:year_list' year %}" title="{{ year }}">{{ year }}</a>{% if not forloop.last %} | {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
  </section>
</section>
