{% extends "base.html" %}
{% load static %}

{% block meta_title %}{{ post.title }} | Overflow{% endblock meta_title %}

{% block meta_description %}{{ post.description }}{% endblock meta_description %}

{% block css %}
<link href="{% static '/overflow/syntax.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block main_content %}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ post.title }}
    </h1>
    <section class="post-description">
      {{ post.description }}
    </section>
    <section class="post-meta">
      <span><time datetime="{{ post.published.isoformat }}">{{ post.published|date:"M j, Y" }}</time></span>
      <span>{{ post.estimated_read_time }} minute read</span>
      {% if post.updated %}
      <span>Updated <time datetime="{{ post.edited.isoformat }}">{{ post.edited|date:"M j, Y" }}</time></span>
      {% endif %}
      {% if post.tags.all %}
      <span>{% for tag in post.tags.all %}<a class="post-tag" href="{% url 'blog:tags' tag %}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}
    </section>
    {% if post.image %}
    <div class="post-illustration">
      <img alt="{{ post.image.title }}" title="{{ post.image.title }}" src="{{ post.image.file.url }}" />
    </div>
    {% endif %}
  </header>
  <section class="post-content">
    {% if post.raw %}
    {{ post.content | safe }}
    {% else %}
    {{ post.markdown | safe }}
    {% endif %}
  </section>
</article>
{% endblock %}
