{% extends "base.html" %}

{% block meta_title %}
Blog | Overflow
{% endblock %}

{% block main_header %}
  {% if '/blog/tag/' in request.path %}
    {% include 'blog/tag_filter.html' %}
  {% endif %}
{% endblock %}

{% block main_content %}
<section id="post-list">
  <div class="row">
    {% for post in posts %}
    <div class="col-xs-12 col-lg-6">
      <article class="post-summary">
        <header class="post-header">
          {% if post.image %}
          <a href="{% url 'blog:detail' post.published.year post.published.month post.published.day post.slug %}" title="{{ post.title }}">
            <img class="post-illustration" src="{{ post.image.file.url }}" />
          </a>
          {% endif %}
          <h2 class="post-title">
            <a href="{% url 'blog:detail' post.published.year post.published.month post.published.day post.slug %}">{{ post.title }}</a>
          </h2>
          <section class="row post-meta">
            <div class="col-xs-12 col-md-6">Published: {{ post.published|date:"Y-m-d" }}</div>
            <div class="col-xs-12 col-md-6 end-md">Updated: {{ post.edited|date:"Y-m-d H:i" }}</div>
          </section>
          {% if post.tags.all %}
          <section class="post-tags">
            Tags: 
            {% for tag in post.tags.all %}
            <a class="post-tag" href="{% url 'blog:tag' tag %}">{{ tag }}</a>
            {% endfor %}
          </section>
          {% endif %}
        </header>
        <section class="post-description">
          {{ post.description }}
        </section>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% include "about.html" %}