{% extends "base.html" %}

{% block meta_title %}
Blog | Overflow
{% endblock %}

{% block main_content %}
<section id="post-list">
  <h2>Latest posts</h2>
  <ul>
    {% for post in posts %}
    <li>
      <span class="post-list-date">{{ post.published|date:"Y-m-d" }}</span>
      <span class="post-list-title">
        <a href="{% url 'blog:detail' post.published.year post.published.month post.published.day post.slug %}">{{ post.title }}</a>
      </span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
