{% extends "base.html" %}

{% block meta_title %}
{% if active %}
{{ active|safe }} | Blog | Overflow
{% else %}
Blog | Overflow
{% endif %}
{% endblock %}

{% block main_content %}
<section id="post-filters">
  <div class="row">
    <div class="col-xs-12">
      <h5 id="post-filters__title">Tags</h5>
    </div>
    <div class="col-xs-12">
      {% for t, c in tags %}
      <div class="post-filters__tag {% if active == t.name %}active{% endif %}">
        <a href="{% url 'blog:tags' t.name %}" title="{{ t.name }}" class="post-filters__tag-name">{{ t.name }}</a>
        <div class="post-filters__tag-count">{{ c }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="post-list">
  <h2>Posts about '{{ active|safe }}'</h2>
  <ul>
    {% for post in posts %}
    <li>
      <span class="post-list-date">{{ post.published|date:"Y-m-d" }}</span>
      <span class="post-list-title">
        <a href="{% url 'blog:detail' post.published.year post.published.month post.published.day post.slug %}">{{ post.title }}</a>
      </span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
