@import '../../lib/scss/colors.scss';

.post,
.post-summary {
  margin: 20px 20px 50px 20px;

  pre {
    background: $lightgray;
    color: $darkgray;
    padding: 20px;

    code {
      color: unset;
      padding: unset;
      background: transparent;
    }
  }

  code {
    background: $lightgray;
    padding: 1px 5px;
    color: $darkcerulean;
  }

  img {
    max-width: 100%;
    margin: 5px auto;
  }
}
.post-header {
  margin: 20px 0px;
}
.post-title {
  font-size: 2.0rem;
  line-height: 2.5rem;
  font-weight: 100;
  margin: 20px 0px;
  color: $steelteal;

  a,
  a:visited { color: $steelteal; }
  a:active,
  a:hover {
    color: $steelteal-dark;
    text-decoration: none;
    border-bottom: 1px solid $steelteal-dark;
  }
}
.post-meta {
  margin: 10px 0;
  color: #777;
  font-weight: 300;
  font-size: 0.71rem;
}
.post-description {
  margin: 25px 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}
.post-tags {
  margin-top: 10px;

  .post-tag {
    font-size: 0.7rem;
    padding: 4px;
    margin-right: 10px;
    color: $darktangerine-dark;
    background-color: $darktangerine-light;
  }
  .post-tag:hover {
    color: $darktangerine-dark;
    background-color: $darktangerine;
  }
}
.post-content {
  margin: 20px 0;

  p {
    margin: 20px 0;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    color: $darktangerine;
    margin: 30px 0px;
  }

  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
}
