@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css");

@import './lib/scss/reset.scss';
@import './lib/scss/colors.scss';
@import './lib/scss/layout.scss';

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 0.96rem;
  color: $eerieblack-dark;
}

p {
  margin: 20px;
  line-height: 1.4rem;
}

a,
a:visited,
a:active {
  color: $link-dark;
  text-decoration: none;
}
a:hover {
  color: $link-dark-hover;
  text-decoration: underline;
}
hr {
  margin: 15px 0px;
  border: 0px;
  height: 1px;
  background-image: linear-gradient(to right, #fafafa, #ccc, #fafafa);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
