{% extends "base.html" %}

{% block meta_title %}Keyboard Tester | Overflow{% endblock %}
{% block meta_description %}Test which keystrokes are registered.{% endblock %}

{% load static %}
{% block js %}
<script src="{% static 'keyboard/keyboard.js' %}" type="text/javascript"></script>
{% endblock %}
{% block css %}
<link href="{% static 'keyboard/keyboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_content %}
<section id="keyboard-app">
    <h1>Keyboard</h1>
    <label for="keyboard-layout">Layout</label>
    <select id="keyboard-layout">
        <option name="TKL-NB_NO" value="TKL-NB_NO">TKL ISO 88-key</option>
    </select>
    <p>
        Super simple evening project keyboard tester for my new mechanical keyboard adventure.
        Keys are registered and displayed by default by the event keycode.
        While keys are pressed the localized value of the keypress is highlighted until the keyup event is triggered.
    </p>
    <div id="keyboard"></div>
    <p id="keyboard-log">Press Any key</p>
</section>
{% endblock %}
