{% extends "base.html" %}

{% block meta_title %}
Me | Overflow
{% endblock %}

{% block main_content %}
<h1>Hi! 👋</h1>

<p>I'm Aleks, a software engineer from Norway.</p>

<p>
  I'm currently employed at <a href="https://kodeworks.no" title="KodeWorks Oslo AS">KodeWorks Oslo</a>, a small IT consultancy company situated in Oslo, where my role is CEO of our Oslo department.
  I have a masters degree in Informatics (Artificial Intelligence) from the <a href="https://ntnu.edu">Norwegian University of Science and Technology (NTNU)</a>.
</p>

<p>
  After university I started out in embedded, in the B2B television contribution segment. A couple of years later I joined KodeWorks, and have been working mostly in the energy and banking sector, while
  gradually taking over the CEO role.
</p>

<p>
  Before starting my career in software engineering, I was working as an officer in the <a href="https://www.forsvaret.no/en/organisation/air-force">Royal Norwegian Air Force</a> for about 5 years.
  My positions varied, mostly as a platoon commander at basic training, but my final year was as a public relations officer and also managing an IT-project.
</p>

<p>
  Outside of work I enjoy cooking, computer tinkering, gaming and the outdoors.
  From time to time I post various computer related stuff here, mostly mental notes to help me remember how to do certain things.
</p>
{% endblock %}
